In [1]:
import pandas as pd

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

In [3]:
actor_list = pd.read_csv('./actor_list.csv')

In [4]:
actor_list

          actor_eng  actor_kor  gender  birth
0      Jang Do Yoon        NaN     NaN    NaN
1      Son Hyun Woo        NaN     NaN    NaN
2       Jung Hae In        NaN     NaN    NaN
3      Koo Kyo Hwan        NaN     NaN    NaN
4     Kim Sung Kyun        NaN     NaN    NaN
...             ...        ...     ...    ...
1833   Park Tam Hee        NaN     NaN    NaN
1834   Oh Gwang Rok        NaN     NaN    NaN
1835     Kim Bo Yun        NaN     NaN    NaN
1836   Shin Min Soo        NaN     NaN    NaN
1837    Oh Sang Jin        NaN     NaN    NaN

[1838 rows x 4 columns]

In [5]:
actor_list['actor_eng'][1600:]

1600    Kang Hye Jung
1601       Go Na Yeon
1602      Lee Su Hyun
1603     Kim Hee Jung
1604      Kim Min Kyo
            ...
1833     Park Tam Hee
1834     Oh Gwang Rok
1835       Kim Bo Yun
1836     Shin Min Soo
1837      Oh Sang Jin
Name: actor_eng, Length: 238, dtype: object

In [16]:
driver = webdriver.Chrome()

actor_english_list = actor_list['actor_eng'][1660:]

def actor_info(x):
    global actor_english_list
    name = x
    url = f"https://mydramalist.com/search?q={name.replace(' ', '%20')}&adv=people&na=3&so=relevance"
    driver.get(url)

    try: 
        dramas = driver.find_element(By.XPATH, "//*[@id='content']/div/div[2]/div/div[1]/div/div[1]/div/div/div[2]/h6/a").send_keys(Keys.ENTER)
        infos = WebDriverWait(driver,5).until(EC.element_to_be_clickable((By.XPATH, "//*[@id='content']/div/div[2]/div/div[2]/div/div[3]/div[2]/ul")))
        info_text = infos.text
        
    except Exception as e:
        info_text = 'Notfound'
        
    return info_text


# 영문 제목 번역 
# for title in actor_list:
#     time.sleep(3)
#     korean_title = english_to_korean(title)
#     drama_title_2022.append(korean_title)
#     print(drama_title_2022)
#     print(i)
#     i+=1
for index in actor_english_list.index:
    actor_info_list_blank=[]
    time.sleep(3)
    actor_info_list = actor_info(actor_english_list[index])
    if actor_info_list =='Notfound':
        actor_info_list_blank.append('NotFound')
    else:
        end_Native_name = actor_info_list.find('Native name: ')
        start_birth = actor_info_list.find('Born: ')
        end_birth = actor_info_list.rfind('\n')
        actor_name = actor_info_list[end_Native_name+13:end_Native_name+16]
        actor_info_list_blank.append(actor_name)
        actor_list.loc[index, 'actor_kor']=actor_name
        if 'Female' in actor_info_list:
            gender = 1
        else:
            gender = 0 
        actor_info_list_blank.append(gender)
        actor_list.loc[index, 'gender']=gender
        birth = actor_info_list[start_birth+6:end_birth]
        actor_info_list_blank.append(birth)
        actor_list.loc[index, 'birth']=birth
    print(actor_info_list_blank)
    print(actor_list.loc[index])


driver.quit()

['문별\n', 1, 'December 22, 1992']
actor_eng            Moon Byul
actor_kor                 문별\n
gender                     1.0
birth        December 22, 1992
Name: 1660, dtype: object
['강슬기', 1, 'February 10, 1994']
actor_eng               Seulgi
actor_kor                  강슬기
gender                     1.0
birth        February 10, 1994
Name: 1661, dtype: object
['디애나', 1, 'September 10, 1995']
actor_eng                 D.ana
actor_kor                   디애나
gender                      1.0
birth        September 10, 1995
Name: 1662, dtype: object
['유아\n', 1, 'September 17, 1995']
actor_eng                  YooA
actor_kor                  유아\n
gender                      1.0
birth        September 17, 1995
Name: 1663, dtype: object
['류수정', 1, 'November 19, 1997']
actor_eng         Ryu Soo Jung
actor_kor                  류수정
gender                     1.0
birth        November 19, 1997
Name: 1664, dtype: object
['이태임', 1, 'October 15, 1986']
actor_eng          Lee Tae Im
actor_kor                 이태임
gender                    1.0
birth        October 15, 1986
Name: 1665, dtype: object
['이재우', 0, 'June 28, 1991']
actor_eng      Lee Jae Woo
actor_kor              이재우
gender                 0.0
birth        June 28, 1991
Name: 1666, dtype: object
['유건\n', 0, 'January 21, 1983']
actor_eng            Yoo Geon
actor_kor                유건\n
gender                    0.0
birth        January 21, 1983
Name: 1667, dtype: object
['강경준', 0, 'February 11, 1983']
actor_eng      Kang Kyung Joon
actor_kor                  강경준
gender                     0.0
birth        February 11, 1983
Name: 1668, dtype: object
['차도진', 0, 'July 15, 1983']
actor_eng       Cha Do Jin
actor_kor              차도진
gender                 0.0
birth        July 15, 1983
Name: 1669, dtype: object
['도지한', 0, 'September 24, 1991']
actor_eng             Do Ji Han
actor_kor                   도지한
gender                      0.0
birth        September 24, 1991
Name: 1670, dtype: object
['남보라', 1, 'November 27, 1989']
actor_eng            Nam Bo Ra
actor_kor                  남보라
gender                     1.0
birth        November 27, 1989
Name: 1671, dtype: object
['키\nA', 0, 'September 23, 1991']
actor_eng                   Key
actor_kor                  키\nA
gender                      0.0
birth        September 23, 1991
Name: 1672, dtype: object
['송선미', 1, 'September 13, 1974']
actor_eng           Song Sun Mi
actor_kor                   송선미
gender                      1.0
birth        September 13, 1974
Name: 1673, dtype: object
['강성연', 1, 'July 21, 1976']
actor_eng    Kang Sung Yun
actor_kor              강성연
gender                 1.0
birth        July 21, 1976
Name: 1674, dtype: object
['이필모', 0, 'June 26, 1974']
actor_eng       Lee Pil Mo
actor_kor              이필모
gender                 0.0
birth        June 26, 1974
Name: 1675, dtype: object
['박철민', 0, 'January 18, 1967']
actor_eng       Park Chul Min
actor_kor                 박철민
gender                    0.0
birth        January 18, 1967
Name: 1676, dtype: object
['추정훈', 0, 'October 15, 1990']
actor_eng        Chu Jung Hun
actor_kor                 추정훈
gender                    0.0
birth        October 15, 1990
Name: 1677, dtype: object
['임도윤', 1, 'September 20, 1986']
actor_eng            Im Do Yoon
actor_kor                   임도윤
gender                      1.0
birth        September 20, 1986
Name: 1678, dtype: object
['정인태', 0, 'October 26, 1989']
actor_eng         Jung In Tae
actor_kor                 정인태
gender                    0.0
birth        October 26, 1989
Name: 1679, dtype: object
['김소리', 1, 'July 21, 1990']
actor_eng        Kim So Ri
actor_kor              김소리
gender                 1.0
birth        July 21, 1990
Name: 1680, dtype: object
['이예은', 1, 'May 18, 1989']
actor_eng      Lee Ye Eun
actor_kor             이예은
gender                1.0
birth        May 18, 1989
Name: 1681, dtype: object
['이수지', 1, 'March 20, 1998']
actor_eng         Lee Su Ji
actor_kor               이수지
gender                  1.0
birth        March 20, 1998
Name: 1682, dtype: object
['NotFound']
actor_eng    Teramoto Yukika
actor_kor                NaN
gender                   NaN
birth                    NaN
Name: 1683, dtype: object
['구본승', 0, 'September 11, 1973']
actor_eng          Gu Bon Seung
actor_kor                   구본승
gender                      0.0
birth        September 11, 1973
Name: 1684, dtype: object
['최윤소', 1, 'November 29, 1984']
actor_eng         Choi Yoon So
actor_kor                  최윤소
gender                     1.0
birth        November 29, 1984
Name: 1685, dtype: object
['정다솔', 1, 'March 5, 1988']
actor_eng      Jung Da Sol
actor_kor              정다솔
gender                 1.0
birth        March 5, 1988
Name: 1686, dtype: object
['조윤우', 0, 'July 27, 1991']
actor_eng      Jo Yoon Woo
actor_kor              조윤우
gender                 0.0
birth        July 27, 1991
Name: 1687, dtype: object
['이채은', 1, 'November 14, 1981']
actor_eng         Lee Chae Eun
actor_kor                  이채은
gender                     1.0
birth        November 14, 1981
Name: 1688, dtype: object
['세용\n', 0, 'November 20, 1991']
actor_eng          Kim Se Yong
actor_kor                 세용\n
gender                     0.0
birth        November 20, 1991
Name: 1689, dtype: object
['홍성호', 0, 'September 15, 1991']
actor_eng          Hong Sung Ho
actor_kor                   홍성호
gender                      0.0
birth        September 15, 1991
Name: 1690, dtype: object
['오세현', 0, 'March 8, 1994']
actor_eng       Oh Se Hyun
actor_kor              오세현
gender                 0.0
birth        March 8, 1994
Name: 1691, dtype: object
['인준\n', 0, 'March 9, 1992']
actor_eng           In Jun
actor_kor             인준\n
gender                 0.0
birth        March 9, 1992
Name: 1692, dtype: object
['이현재', 0, 'April 12, 1988']
actor_eng      Lee Hyun Jae
actor_kor               이현재
gender                  0.0
birth        April 12, 1988
Name: 1693, dtype: object
['이현우', 0, 'March 23, 1993']
actor_eng      Lee Hyun Woo
actor_kor               이현우
gender                  0.0
birth        March 23, 1993
Name: 1694, dtype: object
['김현지', 1, ' Name: Hyun Ji\nFamily Name: Kim\nNative name: 김현지\nAlso Known as: Kim Hyeon Ji\nNationality: South Korean']
actor_eng                                          Kim Hyun Ji
actor_kor                                                  김현지
gender                                                     1.0
birth         Name: Hyun Ji\nFamily Name: Kim\nNative name:...
Name: 1695, dtype: object
['구혜선', 1, 'November 9, 1984']
actor_eng         Gu Hye Seon
actor_kor                 구혜선
gender                    1.0
birth        November 9, 1984
Name: 1696, dtype: object
['정겨운', 0, 'June 28, 1982']
actor_eng    Jung Gyu Woon
actor_kor              정겨운
gender                 0.0
birth        June 28, 1982
Name: 1697, dtype: object
['김수찬', 0, 'November 18, 1994']
actor_eng               Jim Yu
actor_kor                  김수찬
gender                     0.0
birth        November 18, 1994
Name: 1698, dtype: object
['조혜진', 1, 'June 15, 1990']
actor_eng      Cho Hye Jin
actor_kor              조혜진
gender                 1.0
birth        June 15, 1990
Name: 1699, dtype: object
['고소영', 1, 'October 6, 1972']
actor_eng        Go So Young
actor_kor                고소영
gender                   1.0
birth        October 6, 1972
Name: 1700, dtype: object
['박혁권', 0, 'July 11, 1971']
actor_eng    Park Hyuk Kwon
actor_kor               박혁권
gender                  0.0
birth         July 11, 1971
Name: 1701, dtype: object
['김지민', 1, 'February 12, 2000']
actor_eng           Kim Ji Min
actor_kor                  김지민
gender                     1.0
birth        February 12, 2000
Name: 1702, dtype: object
['김동호', 0, 'August 17, 1985']
actor_eng       Kang Dong Ho
actor_kor                김동호
gender                   0.0
birth        August 17, 1985
Name: 1703, dtype: object
['나야\n', 1, 'March 21, 1986']
actor_eng             Na Ya
actor_kor              나야\n
gender                  1.0
birth        March 21, 1986
Name: 1704, dtype: object
['허영란', 1, 'September 16, 1980']
actor_eng         Heo Young Ran
actor_kor                   허영란
gender                      1.0
birth        September 16, 1980
Name: 1705, dtype: object
['이인\n', 0, 'June 14, 1984']
actor_eng           Lee In
actor_kor             이인\n
gender                 0.0
birth        June 14, 1984
Name: 1706, dtype: object
['서재우', 0, 'June 21, 1992']
actor_eng      Seo Jae Woo
actor_kor              서재우
gender                 0.0
birth        June 21, 1992
Name: 1707, dtype: object
['윤승아', 1, 'September 29, 1983']
actor_eng         Yoon Seung Ah
actor_kor                   윤승아
gender                      1.0
birth        September 29, 1983
Name: 1708, dtype: object
['왕지혜', 1, 'December 29, 1985']
actor_eng          Wang Ji Hye
actor_kor                  왕지혜
gender                     1.0
birth        December 29, 1985
Name: 1709, dtype: object
['김민수', 0, 'September 20, 1983']
actor_eng           Kim Min Soo
actor_kor                   김민수
gender                      0.0
birth        September 20, 1983
Name: 1710, dtype: object
['이영은', 1, 'August 9, 1982']
actor_eng     Lee Young Eun
actor_kor               이영은
gender                  1.0
birth        August 9, 1982
Name: 1711, dtype: object
['김미경', 1, 'October 14, 1963']
actor_eng        Kim Mi Kyung
actor_kor                 김미경
gender                    1.0
birth        October 14, 1963
Name: 1712, dtype: object
['이윤지', 1, 'March 15, 1984']
actor_eng       Lee Yoon Ji
actor_kor               이윤지
gender                  1.0
birth        March 15, 1984
Name: 1713, dtype: object
['조연호', 0, 'August 19, 2010']
actor_eng         Jo Yeon Ho
actor_kor                조연호
gender                   0.0
birth        August 19, 2010
Name: 1714, dtype: object
['이하율', 0, 'May 20, 1987']
actor_eng      Lee Ha Yul
actor_kor             이하율
gender                0.0
birth        May 20, 1987
Name: 1715, dtype: object
['허정은', 1, 'September 14, 2007']
actor_eng          Heo Jung Eun
actor_kor                   허정은
gender                      1.0
birth        September 14, 2007
Name: 1716, dtype: object
['진이한', 0, 'October 10, 1978']
actor_eng          Jin Yi Han
actor_kor                 진이한
gender                    0.0
birth        October 10, 1978
Name: 1717, dtype: object
['손가영', 1, 'October 2, 1985']
actor_eng       Son Ga Young
actor_kor                손가영
gender                   1.0
birth        October 2, 1985
Name: 1718, dtype: object
['조진웅', 0, 'March 3, 1976']
actor_eng     Jo Jin Woong
actor_kor              조진웅
gender                 0.0
birth        March 3, 1976
Name: 1719, dtype: object
['NotFound']
actor_eng    Nha Phuong
actor_kor           NaN
gender              NaN
birth               NaN
Name: 1720, dtype: object
['강별\n', 1, 'August 9, 1990']
actor_eng         Kang Byul
actor_kor              강별\n
gender                  1.0
birth        August 9, 1990
Name: 1721, dtype: object
['선우재', 0, 'July 23, 1962']
actor_eng    Sun Woo Jae Duk
actor_kor                선우재
gender                   0.0
birth          July 23, 1962
Name: 1722, dtype: object
['권현상', 0, 'July 2, 1981']
actor_eng    Kwon Hyun Sang
actor_kor               권현상
gender                  0.0
birth          July 2, 1981
Name: 1723, dtype: object
['권보아', 1, 'November 5, 1986']
actor_eng            Kwon BoA
actor_kor                 권보아
gender                    1.0
birth        November 5, 1986
Name: 1724, dtype: object
['최태환', 0, 'February 28, 1989']
actor_eng        Choi Tae Hwan
actor_kor                  최태환
gender                     0.0
birth        February 28, 1989
Name: 1725, dtype: object
['신석철', 0, 'October 29, 1989']
actor_eng       Shin Suk Chul
actor_kor                 신석철
gender                    0.0
birth        October 29, 1989
Name: 1726, dtype: object
['강', 1, 'May 23, 1988']
actor_eng    Kang So Yeon
actor_kor             강
gender                1.0
birth        May 23, 1988
Name: 1727, dtype: object
['최지우', 1, 'June 11, 1975']
actor_eng      Choi Ji Woo
actor_kor              최지우
gender                 1.0
birth        June 11, 1975
Name: 1728, dtype: object
['김선웅', 0, 'November 1, 1991']
actor_eng       Kim Sun Woong
actor_kor                 김선웅
gender                    0.0
birth        November 1, 1991
Name: 1729, dtype: object
['윤아정', 1, 'November 19, 1983']
actor_eng         Yoon Ah Jung
actor_kor                  윤아정
gender                     1.0
birth        November 19, 1983
Name: 1730, dtype: object
['김혜지', 1, 'November 21, 1992']
actor_eng           Kim Hye Ji
actor_kor                  김혜지
gender                     1.0
birth        November 21, 1992
Name: 1731, dtype: object
['이민우', 0, 'July 28, 1979']
actor_eng      Lee Min Woo
actor_kor              이민우
gender                 0.0
birth        July 28, 1979
Name: 1732, dtype: object
['노영학', 0, 'April 1, 1993']
actor_eng    Noh Young Hak
actor_kor              노영학
gender                 0.0
birth        April 1, 1993
Name: 1733, dtype: object
['차인표', 0, 'October 14, 1967']
actor_eng          Cha In Pyo
actor_kor                 차인표
gender                    0.0
birth        October 14, 1967
Name: 1734, dtype: object
['최민\n', 0, 'January 1, 1987']
actor_eng           Choi Min
actor_kor               최민\n
gender                   0.0
birth        January 1, 1987
Name: 1735, dtype: object
['박시은', 1, 'August 1, 2001']
actor_eng       Park Si Eun
actor_kor               박시은
gender                  1.0
birth        August 1, 2001
Name: 1736, dtype: object
['정성영', 0, 'March 5, 2000']
actor_eng    Jung Sung Young
actor_kor                정성영
gender                   0.0
birth          March 5, 2000
Name: 1737, dtype: object
['정택현', 0, 'July 28, 2003']
actor_eng    Jung Taek Hyun
actor_kor               정택현
gender                  0.0
birth         July 28, 2003
Name: 1738, dtype: object
['허지원', 0, 'October 11, 1987']
actor_eng          Heo Ji Won
actor_kor                 허지원
gender                    0.0
birth        October 11, 1987
Name: 1739, dtype: object
['박민지', 1, 'July 22, 1989']
actor_eng      Park Min Ji
actor_kor              박민지
gender                 1.0
birth        July 22, 1989
Name: 1740, dtype: object
['김정헌', 0, 'May 3, 1987']
actor_eng      Jung Heon
actor_kor            김정헌
gender               0.0
birth        May 3, 1987
Name: 1741, dtype: object
['김윤서', 1, 'March 28, 1986']
actor_eng       Kim Yun Seo
actor_kor               김윤서
gender                  1.0
birth        March 28, 1986
Name: 1742, dtype: object
['엄태웅', 0, 'April 5, 1974']
actor_eng    Uhm Tae Woong
actor_kor              엄태웅
gender                 0.0
birth        April 5, 1974
Name: 1743, dtype: object
['예정화', 1, 'May 23, 1988']
actor_eng    Ma Dong Seok
actor_kor             예정화
gender                1.0
birth        May 23, 1988
Name: 1744, dtype: object
['양진성', 1, 'June 27, 1988']
actor_eng    Yang Jin Sung
actor_kor              양진성
gender                 1.0
birth        June 27, 1988
Name: 1745, dtype: object
['허이재', 1, 'February 19, 1987']
actor_eng           Heo Yi Jae
actor_kor                  허이재
gender                     1.0
birth        February 19, 1987
Name: 1746, dtype: object
['김서라', 1, 'January 29, 1968']
actor_eng          Kim Seo Ra
actor_kor                 김서라
gender                    1.0
birth        January 29, 1968
Name: 1747, dtype: object
['남태현', 0, 'May 10, 1994']
actor_eng    Nam Tae Hyun
actor_kor             남태현
gender                0.0
birth        May 10, 1994
Name: 1748, dtype: object
['김수연', 1, 'February 23, 1989']
actor_eng         Kim Soo Yeon
actor_kor                  김수연
gender                     1.0
birth        February 23, 1989
Name: 1749, dtype: object
['고우리', 1, 'February 22, 1988']
actor_eng            Go Woo Ri
actor_kor                  고우리
gender                     1.0
birth        February 22, 1988
Name: 1750, dtype: object
['김정훈', 0, 'January 20, 1980']
actor_eng      Kim Jeong Hoon
actor_kor                 김정훈
gender                    0.0
birth        January 20, 1980
Name: 1751, dtype: object
['나문희', 1, 'November 30, 1941']
actor_eng          Na Moon Hee
actor_kor                  나문희
gender                     1.0
birth        November 30, 1941
Name: 1752, dtype: object
['조복래', 0, 'July 18, 1986']
actor_eng       Jo Bok Rae
actor_kor              조복래
gender                 0.0
birth        July 18, 1986
Name: 1753, dtype: object
['현우성', 0, 'March 16, 1979']
actor_eng     Hyun Woo Sung
actor_kor               현우성
gender                  0.0
birth        March 16, 1979
Name: 1754, dtype: object
['성유리', 1, 'March 3, 1981']
actor_eng      Sung Yoo Ri
actor_kor              성유리
gender                 1.0
birth        March 3, 1981
Name: 1755, dtype: object
['김민종', 0, 'March 23, 1972']
actor_eng      Kim Min Jong
actor_kor               김민종
gender                  0.0
birth        March 23, 1972
Name: 1756, dtype: object
['신린아', 1, 'May 14, 2009']
actor_eng     Shin Rin Ah
actor_kor             신린아
gender                1.0
birth        May 14, 2009
Name: 1757, dtype: object
['이기창', 0, 'December 1, 1993']
actor_eng        Lee Gi Chang
actor_kor                 이기창
gender                    0.0
birth        December 1, 1993
Name: 1758, dtype: object
['정이연', 1, 'October 4, 1986']
actor_eng       Jung Yi Yeon
actor_kor                정이연
gender                   1.0
birth        October 4, 1986
Name: 1759, dtype: object
['지은성', 0, 'August 3, 1991']
actor_eng       Ji Eun Sung
actor_kor               지은성
gender                  0.0
birth        August 3, 1991
Name: 1760, dtype: object
['김인권', 0, 'January 20, 1978']
actor_eng         Kim In Kwon
actor_kor                 김인권
gender                    0.0
birth        January 20, 1978
Name: 1761, dtype: object
['김수로', 0, 'May 7, 1970']
actor_eng     Kim Soo Ro
actor_kor            김수로
gender               0.0
birth        May 7, 1970
Name: 1762, dtype: object
['강부자', 1, 'February 8, 1941']
actor_eng         Kang Boo Ja
actor_kor                 강부자
gender                    1.0
birth        February 8, 1941
Name: 1763, dtype: object
['홍요섭', 0, 'July 3, 1955']
actor_eng     Hong Yo Sub
actor_kor             홍요섭
gender                0.0
birth        July 3, 1955
Name: 1764, dtype: object
['서준영', 0, 'April 24, 1987']
actor_eng    Seo Joon Young
actor_kor               서준영
gender                  0.0
birth        April 24, 1987
Name: 1765, dtype: object
['정진운', 0, 'May 2, 1991']
actor_eng    Jung Jin Woon
actor_kor              정진운
gender                 0.0
birth          May 2, 1991
Name: 1766, dtype: object
['이주형', 0, 'December 2, 1995']
actor_eng       Lee Joo Hyung
actor_kor                 이주형
gender                    0.0
birth        December 2, 1995
Name: 1767, dtype: object
['서인영', 1, 'September 3, 1984']
actor_eng         Seo In Young
actor_kor                  서인영
gender                     1.0
birth        September 3, 1984
Name: 1768, dtype: object
['서하준', 0, 'September 19, 1989']
actor_eng           Seo Ha Joon
actor_kor                   서하준
gender                      0.0
birth        September 19, 1989
Name: 1769, dtype: object
['박순천', 1, 'February 19, 1961']
actor_eng       Park Soon Chun
actor_kor                  박순천
gender                     1.0
birth        February 19, 1961
Name: 1770, dtype: object
['송일국', 0, 'October 1, 1971']
actor_eng       Song Il Gook
actor_kor                송일국
gender                   0.0
birth        October 1, 1971
Name: 1771, dtype: object
['정윤석', 0, 'April 30, 2003']
actor_eng     Jung Yoon Suk
actor_kor               정윤석
gender                  0.0
birth        April 30, 2003
Name: 1772, dtype: object
['유지인', 1, 'January 27, 1956']
actor_eng           Yoo Ji In
actor_kor                 유지인
gender                    1.0
birth        January 27, 1956
Name: 1773, dtype: object
['강민경', 1, 'August 3, 1990']
actor_eng    Kang Min Kyung
actor_kor               강민경
gender                  1.0
birth        August 3, 1990
Name: 1774, dtype: object

In [13]:
actor_list.loc[1659]

actor_eng        Yoon So Mi
actor_kor               윤소미
gender                  1.0
birth        March 18, 1992
Name: 1659, dtype: object

In [17]:
actor_list[1660:]

         actor_eng actor_kor  gender               birth
1660     Moon Byul      문별\n     1.0   December 22, 1992
1661        Seulgi       강슬기     1.0   February 10, 1994
1662         D.ana       디애나     1.0  September 10, 1995
1663          YooA      유아\n     1.0  September 17, 1995
1664  Ryu Soo Jung       류수정     1.0   November 19, 1997
...            ...       ...     ...                 ...
1833  Park Tam Hee       박탐희     1.0     January 2, 1978
1834  Oh Gwang Rok       오광록     0.0     August 28, 1962
1835    Kim Bo Yun       김보윤     1.0   December 18, 2001
1836  Shin Min Soo       신민수     0.0    December 7, 1986
1837   Oh Sang Jin       오상진     0.0   February 15, 1980

[178 rows x 4 columns]

In [15]:
actor_list[1660:].to_csv('./actor_list_1660.csv', index=False, encoding='utf-8-sig')

In [ ]:
actor_list[0:100]

          actor_eng actor_kor  gender              birth
0      Jang Do Yoon       장도윤     0.0    August 31, 1995
1      Son Hyun Woo       손현우     0.0      July 30, 1996
2       Jung Hae In       정해인     0.0      April 1, 1988
3      Koo Kyo Hwan       구교환     0.0  December 14, 1982
4     Kim Sung Kyun       김성균     0.0       May 25, 1980
...             ...       ...     ...                ...
1833   Park Tam Hee       NaN     NaN                NaN
1834   Oh Gwang Rok       NaN     NaN                NaN
1835     Kim Bo Yun       NaN     NaN                NaN
1836   Shin Min Soo       NaN     NaN                NaN
1837    Oh Sang Jin       NaN     NaN                NaN

[1838 rows x 4 columns]

In [ ]:
actor_info_list

In [ ]:
end_Native_name = actor_info_list.find('Native name: ')
start_birth = actor_info_list.find('Born: ')
end_birth = actor_info_list.rfind('\n')

In [ ]:
end_Native_name

In [ ]:
actor_info_list[end_Native_name+13:end_Native_name+16]

In [ ]:
if 'Female' in actor_info_list:
    gender = 1
else:
    gender = 0 
print(gender)

In [ ]:
birth = actor_info_list[start_birth+6:end_birth]
print(birth)

In [1]:
len("you told me, 'I am a boy.'")

26

In [2]:
l=[1,2,3,4,5]
print(l)
l[1]=10
print(l)

l.insert(2,10)
print(l)

l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 10, 3, 4, 5]
[1, 10, 10, 3, 4, 5]
[1, 10, 10, 4, 5]

In [3]:
count =0 
for i in range(2,11):
    for j in range(1,11):
        count = count +1
print(count)

90

In [4]:
import numpy as np

In [5]:
(3, )+(3,)

(3, 3)

In [6]:
(3,)+(3,4)

(3, 3, 4)

In [7]:
(3,4)+(4,)

(3, 4, 4)

In [8]:
(3,4)+(3,4)

(3, 4, 3, 4)

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(data=np.arange(1,37).reshape(3,12))
print(df.shape)

(3, 12)